body {
  background-color: #CAEBf2;
}
header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  background-color: #062F4F;
  color: rgb(200,200,200);
  text-align: center;
  padding: 0%;
  padding-top: 180px;
  border: 5px rgb(68, 66, 143);
}
p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: aquamarine;
  display: inline-block;
}
main {
  background-color: #D5D5D5;
  font-size: 20px;
}
q {
  font-style: italic;
  color: #B82601;
}
dfn {
  font-weight: 900;
  font-style: normal;
}
footer {
  background-color: rgb(63, 63, 63);
  color: rgb(200,200,200);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.movies {
  display:inline-block;
  /* text-align: center; */
}